.arrow-link {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* PRIMARY COLOR */
  background-color: rgb(195, 69, 40);
  display: flex;
  margin: auto;
  transition: background-color .3s ease;
}

.arrow-link:hover {
  background-color: #DDD;
}

.arrow-link svg {
  margin: auto;
  padding-top: 0.3em;
}
