.arrow-link {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #bbb;
  display: flex;
  margin: auto;
  transition: background-color .3s ease;
}

.arrow-link:hover {
  background-color: #D0D0D0;
}

.arrow-link svg {
  margin: auto;
  padding-top: 0.3em;
}
