.parcours-dropdown {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.navigation-tab.parcours-dropdown {
}

.Dropdown-control:hover {
  /* PANTONE : 1235 C */
  /*background-color: rgba(255, 182, 18, 1);*/
  background-color: rgba(195,69,40,1);
}

.Dropdown-control {
  transition: background-color .3s ease;
  padding: 0 15px;
  width: 70px;
  /* PANTONE : 1235 C */
  /*background-color: rgb(255, 182, 18);*/
  background-color: rgba(246,118,88,1);
  color: white;
  line-height: 60px;
}

.Dropdown-menu {
  position: absolute;
  /* NAVBAR HEIGHT */
  top: 60px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
}
.Dropdown-menu.is-open {
  height: 60px;
}

.Dropdown-option {
  transition: background-color .3s ease;
  /*background-color: rgb(255, 182, 18);*/
  background-color: rgba(195,69,40,1);
  /* NAVBAR HEIGHT */
  line-height: 60px;
  padding: 0 15px;
}

.Dropdown-option:hover {
  /*background-color: rgb(237, 164, 0);*/
  background-color: rgba(246,118,88,1);
}

.Dropdown-arrow {
  border-color: #FFF transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  left: 12.5px;
  top: 28px;
  width: 0;
  transform: rotate(-90deg);
  transition: transform .3s ease;
}

.is-open .Dropdown-arrow {
  transform: rotate(0deg);
}
