.navigation-tab {
  height: 60px;
  display: block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color .3s ease;
  background-color: rgb(152, 143, 134);/* PANTONE WARM GREY 7 C */
}

.navigation-tab:hover, .navigation-tab--active {
  /* PRIMARY COLOR */
  background-color: rgb(195,69,40);
}

