.navigation-tab {
  padding: 0 15px;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  color: white;
  transition: background-color .3s ease;
  background-color: #BBB;
}

.navigation-tab:not(.navigation-tab--active):hover {
  background-color: #B3B3B3;
}

.navigation-tab--active {
  background-color: #AAA;
}
