.parcours-gallery__panes {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.parcours-gallery__pane {
  flex-grow: 1;
  flex-basis: 1;
  align-items: center;
  position: relative;
  overflow:hidden;
  display: flex;
}

.parcours-gallery__pane:before {
  content: ' ';
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: -50px;
  left: 0;
  right: 0;
  filter: brightness(0.8);
  background-image: url(/images/keletso-rabalao-384640.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.parcours-gallery__pane:first-of-type:before {
  bottom: 0;
  left: -100px;
  background-image: url(https://picsum.photos/500/800?image=1014);
}

.parcours-gallery__pane:last-of-type:before {
  background-image: url(https://picsum.photos/500/800?image=1027);
}

.parcours-gallery__pane__inner {
  text-align: left;
  color: white;
  padding: 0 110px;
  z-index: 10;
  position: relative;
}
