.parcours-gallery__panes {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.parcours-gallery__pane {
  flex-grow: 1;
  flex-basis: 1;
  align-items: center;
  position: relative;
  overflow:hidden;
  display: flex;
}

.parcours-gallery__pane-background {
  content: ' ';
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: -50px;
  left: 0;
  right: 0;
  filter: brightness(0.8);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.parcours-gallery__pane:first-of-type:before {
  bottom: 0;
  left: -100px;
}

.parcours-gallery__pane:last-of-type:before {
}

.parcours-gallery__pane__inner {
  text-align: left;
  color: white;
  padding: 0 110px;
  z-index: 10;
  position: relative;
}

@media screen and (min-width: 720px) and (max-width: 1024px){
  .parcours-gallery__pane__inner {
    padding: 0 50px;
  }
}

@media screen and (max-width: 720px){
  .parcours-gallery__panes {
    flex-direction: column;
  }

  .parcours-gallery__pane-background {
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }

  .parcours-gallery__pane .arrow-link {
    transform: rotate(-90deg);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .parcours-gallery__pane__inner {
    display: flex;
  }
}
