.storymap {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.storymap iframe {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.storymap--loading {
  position: relative;
}

.storymap--loading:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
}
