.content-container {
  width: 70%;
  margin: auto;
  padding: 0 15px;
  padding-bottom: 15px;
  font-size: 1.3em;
  font-weight: 300;
}

.content-container p > img {
  margin: auto;
  max-height: 35vh;
  max-width: 100%;
  display: block;
}

.content-container p > svg {
  margin: auto;
  max-height: 35vh !important;
  max-width: 100%;
  display: block;
}

.content-container a {
  color: rgb(237,41,57);
}

.content-container h2 {
  color: rgb(237,41,57);
  padding-top: 2em;
}
.content-container h1 {
  color: rgb(237,41,57);
}

@media screen and (max-width: 720px){
  .content-container {
    width: auto;
  }
}
