.parcours-dropdown {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.navigation-tab.parcours-dropdown {
}

.Dropdown-control:hover {
  background-color: deeppink;
}

.Dropdown-control {
  transition: background-color .3s ease;
  padding: 0 15px;
  width: 60px;
  background-color: pink;
  color: #333;
  line-height: 100px;
}

.Dropdown-menu {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 100;
}

.Dropdown-option {
  transition: background-color .3s ease;
  background-color: #BBB;
  line-height: 30px;
  padding: 0 15px;
}

.Dropdown-option:hover {
  background-color: #AAA;
}
.Dropdown-arrow {
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  left: 12.5px;
  top: 46px;
  width: 0;
  transform: rotate(-90deg);
  transition: transform .3s ease;
}

.is-open .Dropdown-arrow {
  transform: rotate(0deg);
}


