.social-sharing {
  display: flex;
  /* NAVBAR HEIGHT */
  height: 60px;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}
.social-sharing svg {
  /*fill: #333;*/
  fill: white;
  transition: fill .25s ease;
  cursor: pointer;
}
.social-sharing svg:hover {
  /* PRIMARY COLOR */
  fill: rgb(237,41,57);
}
