.home-button {
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  /*background-color: #555;*/
  background-color: black;
  color: white;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

.home-button svg {
  margin: auto;
  padding-bottom: 3px;
}
.home-button svg * {
  fill: white;
}
